/* 既存のスタイル */
/* 共通スタイル */

body {
  background-image: url('../images/3.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.favorite-button {box-sizing: border-box;
  padding: 12px;
  margin: 10px 0;
  border-radius: 15px;
  font-size: 12px;
  background-color: #f6ae41; /* オレンジ */
  color: white;
}

.favorite-button2 {box-sizing: border-box;
  padding: 12px;
  margin: 10px 0;
  border-radius: 15px;
  font-size: 16px;
  background-color: #f6ae41; /* オレンジ */
  color: white;
}


.add-button {
  box-sizing: border-box;
  padding: 12px;
  margin: 10px 0;
  border-radius: 15px;
  font-size: 16px;
  background-color: #ea4335;
  color: white;
}

.back-button {
  box-sizing: border-box;
  padding: 12px;
  margin: 10px 0;
  border-radius: 15px;
  font-size: 16px;
  background-color: #4285f4;
  color: white;
}

.edit-button {
  box-sizing: border-box;
  padding: 10px 20px; /* パディングを調整 */
  margin: 5px 0;
  border: none; /* ボーダーを削除 */
  border-radius: 25px; /* 角を丸く */
  font-size: 18px;
  font-weight: bold; /* 文字を太く */
  background-color: rgb(40, 39, 39); /* 背景色をダークグレーに */
  color: rgb(244, 241, 241);
  height: 50px; /* 縦幅を50ピクセルに設定 */
  width: 150px; /* 横幅を150ピクセルに設定 */
  transition: background-color 0.3s, transform 0.3s; /* ホバー効果のためのトランジション */
}

.edit-button:hover {
  background-color: gray; /* ホバー時の背景色 */
  transform: scale(1.05); /* ホバー時の拡大 */
}

.detail-button {
  box-sizing: border-box;
  padding: 10px 20px; /* パディングを調整 */
  margin: 5px 0;
  border: none; /* ボーダーを削除 */
  border-radius: 25px; /* 角を丸く */
  font-size: 18px;
  font-weight: bold; /* 文字を太く */
  background-color: green; /* 背景色をダークグレーに */
  color: white;
  height: 50px; /* 縦幅を50ピクセルに設定 */
  width: 150px; /* 横幅を150ピクセルに設定 */
  transition: background-color 0.3s, transform 0.3s; /* ホバー効果のためのトランジション */
}

.detail-button:hover {
  background-color: gray; /* ホバー時の背景色 */
  transform: scale(1.05); /* ホバー時の拡大 */
}

.delete-button {
  box-sizing: border-box;
  padding: 10px 20px; /* パディングを調整 */
  margin: 5px 0;
  border: none; /* ボーダーを削除 */
  border-radius: 25px; /* 角を丸く */
  font-size: 18px;
  font-weight: bold; /* 文字を太く */
  background-color: gray; /* 背景色をダークグレーに */
  color: white;
  height: 50px; /* 縦幅を50ピクセルに設定 */
  width: 150px; /* 横幅を150ピクセルに設定 */
  transition: background-color 0.3s, transform 0.3s; /* ホバー効果のためのトランジション */
}

.delete-button:hover {
  background-color: white; /* ホバー時の背景色 */
  transform: scale(1.05); /* ホバー時の拡大 */
}

.change-button {
  box-sizing: border-box;
  padding: 12px;
  margin: 2px 0;
  border-radius: 15px;
  font-size: 16px;
  background-color: green;
  color: white;
}

.detail-row-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #0a0000;
    width: 100%; /* フル幅に設定 */
}

.detail-row-comment{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #0a0000;
  width: 100%; /* フル幅に設定 */
}

.flexbox div{
  margin: 10px;
  width: 100px;
  height: 50px;
}

.flexbox{
  display:flex;
}

.label {
  font-weight: bold;
  margin-right: 20px;
}

.value {
    flex: 1;
    text-align: left;
}

th, td {
    padding: 10px;
    text-align: left;
    border: none;
}

th {
    background-color: #f0f0f0;
}

