<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head th:fragment="head(title)">
  <meta charset="UTF-8" />
  <title th:text="${title}">Title</title>
  <link rel="stylesheet" th:href="@{/css/Album.css}">

</head>

<body>
  <div th:fragment="header">
    <header>
      <ul>
        <!-- <img src='images/bow-work.png' alt="ヘッダー画像" id="header-image">
        <h1>あなたのウェブサイト</h1> -->
        <!-- <div class="images"></div> -->
        <img src="images/bow-work.png" alt="ロゴ" class="logo-images">
        <h4>ToDo管理</h4>
        <form th:action="@{/albums}">
              <button type="submit" Class="task-button">タスク一覧</button>
        </form>
        <form  th:action="@{/albums/new}">
              <button type="submit" Class="task2-button">タスク登録</button>
        </form>
        <form th:action="@{/logout}" method="post">
              <button type="submit" Class = "log-button">ログアウト</button>
        </form>
      </ul>
    </header>
  </div>
  <div th:fragment="footer">
    <footer>
      <p>&copy; Cチーム開発TV</p>
    </footer>
  </div>
</body>
</html>