<!-- 詳細の上にでるやつ -->
<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head(アルバム詳細)}"></head>
<link rel="stylesheet" th:href="@{/css/Album.css}">

<body>
  <div th:replace="~{layout :: header}"></div>
  <div th:if="${message}" th:text="${message}" style="color: blue">
    sample message
    <div th:if="${error}" th:text="${error}" style="color:red">sample message</div>
  </div>
  <h3>To Do 詳細</h3>
  <div class="detail-row-title">
      <span class="label">タイトル</span>
      <span class="value" th:text="${album.title}">OOさんのタスクの詳細です</span>
    </div>
  <div class="flexbox">
    <div class="detail-row-artist">
      <span class="label">担当者</span>
      <span class="value" th:text="${album.artist}">山田太郎</span>
    </div>
    <div class="detail-row-releaseDate">
      <span class="label">締め切り日</span>
      <span class="value" th:text="${album.releaseDate}">2004年 / 9月25日</span>
    </div>
    <div class="detail-row-priority">
      <span class="label">優先順位</span>
      <span class="value" th:switch="${album.priority}">
        <span th:case="1">低</span>
        <span th:case="2">中</span>
        <span th:case="3">高</span>
        <span th:case="*">${album.priority}</span>
      </span>
    </div>
  </div>
    <div class="detail-row-comment">
      <span class="label">メモ</span>
      <span class="value" th:text="${album.comment}">PowerPointの説明を入力してください</span>
    </div>
  </div>

    <table>
      <tr>
        <th>タスク</th>
        <th>日付</th>
        <th>進行度</th>
      </tr>
      <tr th:each="music : ${musics}">
        <td><span th:text="${music.title}">music title</span></td>
        <td><span th:text="${music.daydate}">music daydate</span></td>
        <td th:switch="${music.progress}">
            <span th:case="1">未着手</span>
            <span th:case="2">進行中</span>
            <span th:case="3">完了</span>
        </td>
        <td><span th:text="${music.isFavorite ? '☆' : ''}">☆</span></td>

        <td>
          <form
            th:action="@{/albums/{albumId}/musics/{musicId}/edit(albumId=${album.albumId}, musicId=${music.musicId})}"
            method="get">
            <button type="submit">編集</button>
          </form>
          <form
            th:action="@{/albums/{albumId}/musics/{musicId}/delete(albumId=${album.albumId}, musicId=${music.musicId})}"
            method="post">
            <button type="submit">削除</button>
          </form>
          <form th:if="${music.isFavorite}" th:action="@{/favorites/delete}" method="post">
            <input type="hidden" name="musicId" th:value="${music.musicId}" />
            <input type="hidden" name="albumId" th:value="${album.albumId}" />
            <button type="submit" class="favorite2-button">お気に入り解除</button>
          </form>
          <form th:unless="${music.isFavorite}" th:action="@{/favorites}" method="post">
            <input type="hidden" name="musicId" th:value="${music.musicId}" />
            <input type="hidden" name="albumId" th:value="${album.albumId}" />
            <button type="submit" class="favorite-button">お気に入り</button>
          </form>
        </td>
      </tr>
    </table>
  </table>
  <form th:action="@{/albums/{albumId}/musics/new(albumId=${album.albumId})}">
    <button type="submit" class="add-button">タスクを追加</button>
  </form>
  <form th:action="@{/albums}">
    <button type="submit" class="back-button">一覧に戻る</button>
  </form>
  <div th:replace="~{layout :: footer}"></div>
</body>

</html>